<p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>

<div class="ui-g">
  <div class="ui-g-8 ui-g-offset-2">
    <form [formGroup]="form">
      <p-panel header="{{ title | uppercase }}">
        <div class="ui-g">
          <div class="ui-g-12">
            <span class="ui-float-label ui-fluid">
              <input id="float-input" type="text" pInputText formControlName="nome" id="nome" [ngClass]="{ 'is-invalid' : submitted && hasError('nome') }">
              <label for="float-input">Nome</label>
            </span>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12">
            <span class="ui-float-label ui-fluid">
              <input id="float-input" type="text" pInputText formControlName="endereco" [ngClass]="{ 'is-invalid' : submitted && hasError('endereco') }" >
              <label for="float-input">Endereco</label>
            </span>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12">
            <span class="ui-float-label ui-fluid">
              <p-inputMask  formControlName="cnpj" mask="99.999.999/9999-99" [ngClass]="{ 'is-invalid' : submitted && hasError('cnpj') }"></p-inputMask>
              <label for="float-input">CNPJ</label>
            </span>
          </div>
        </div>

        <p-button label="Salvar" class="ui-button-text botaoFrm" (click)="onSubmit()" ></p-button>
        <p-button label="Cancelar" class="ui-button-text botaoFrm" (click)="onCancel()" ></p-button>
      </p-panel>
    </form>
  </div>
</div>
