<div class="ui-g">
  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <div class="ui-g-12">
    <p-button label="Novo" [routerLink]="['novo']" class="ui-button-text" id="btNovo" ></p-button>
  </div>
  <div class="ui-g-12">
    <ng-container *ngIf="empresas$ | async as empresas; else loading">
      <p-dataView [value]="empresas" [paginator]="true" [rows]="10" >
        <p-header>{{ 'Lista de Empresas' | uppercase }}</p-header>
        <ng-template let-empresa pTemplate="listItem">
          <div class="empresa-details">
            <div>
              <div (mouseover)="alterar=true"
                (mouseout)="alterar=false"
                [ngClass]="alterar ? 'alterar' : ''">
                <img *ngIf="!checkImage(empresa.file)" src="assets/images/logo-demo.jpg" width="150" height="150" />
                <img *ngIf="checkImage(empresa.file)"  [src]="convertForBase64(empresa.file)" width="150" height="150" >
                <div [ngClass]="!alterar ? 'uploadHidden' : 'upload'" (click)="doUpload(empresa.id)" >
                  <i class="pi pi-upload"></i>
                  <p>{{ "alterar imagem" | uppercase }}</p>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-g-12">Nome: <b>{{empresa.nome}}</b></div>
                <div class="ui-g-12">CNPJ: <b>{{empresa.cnpj | cnpj}}</b></div>
                <div class="ui-g-12">Endereço: <b>{{empresa.endereco}}</b></div>
              </div>
          </div>
            <p-button icon="pi pi-pencil" [routerLink]="['editar', empresa.id]" pTooltip="Editar" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
            <p-button icon="pi pi-trash" pTooltip="Excluir" (click)="confirmDelete(empresa)" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
            <p-button icon="pi pi-users" pTooltip="Funcionários" [routerLink]="['/empresa', empresa.id, 'funcionarios']" tooltipPosition="top" class="ui-button-icon btAction" ></p-button>
          </div>
          <hr>
        </ng-template>

      </p-dataView>

    </ng-container>
  </div>
  <ng-template #loading >
    <div class="ui-g-12 loading">
      <div class="ui-g-2 ui-g-offset-5">
          <p><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i></p>
          <p>Carregando Empresas...</p>
      </div>
    </div>
  </ng-template>
</div>
