#btNovo{
  float: right;
}

.btAction{
  margin-right: 5px;
}

.colActions{
  width: 140px;
}

td{
  text-align: center;
  font-weight: bold;
}

tr td:first-child{
  text-align: left;
}

.loading p{
  text-align: center;
}

.empresa-details{
  padding: 15px 0;
  border-bottom: 2px solid #f4f4f4;
}

.empresa-details img{
  float: left;
}

.alterar:hover img{
  opacity: 0.3;
}

.uploadHidden, .upload i, .upload p{
  display: none;
  transition: 0.5s all;
}

.alterar:hover .upload{
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 99999;
  cursor: pointer;
}

.alterar:hover .upload i{
  font-size: 4.5em;
  color: #555;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.alterar:hover .upload p{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}


